<template>
  <div>
    <div style="margin-bottom:20px;text-align:center;">
      <el-input
        style="width:80%;"
        v-model="inputSearch"
        placeholder="搜索歌曲/歌手"
        @keyup.enter.native="getSearch"
        @input="getSearch"
      ></el-input>
    </div>
    <div style="margin-left:10%;width:80%;">
      <ul>
        <li
          style="cursor: pointer;padding:10px;"
          @click="mp3Play(index)"
          class="hover-color"
          v-for="(item, index) in inputSearchData"
          :key="index"
        >
          <template v-if="index + 1 + (currentPage - 1) * 20 < 10">0{{ index + 1 + (currentPage - 1) * 20 }}.</template>
          <template v-else>{{ index + 1 + (currentPage - 1) * 20 }}.</template>
          <span>{{ item.name }}</span>
          <i v-show="currentIndex === index" class="el-icon-headset" style="color:#F56C6C;margin-left: 4px;"></i>
          <span style="float:right;">{{ item.ar && item.ar[0].name }}{{ item.artists && item.artists[0].name }}</span>
        </li>
      </ul>
      <!-- <div style="text-align:center;margin-top:10px;">
        <el-pagination
          background
          @current-change="handleCurrentChange"
          :current-page.sync="currentPage"
          :page-size="20"
          layout="total, pager"
          :total="100"
        ></el-pagination>
      </div> -->
    </div>
    <!-- <div style="text-align:center;">
      <el-button type="success" style="margin-top:20px;" @click="toggleLrc">显示/隐藏歌词</el-button>
    </div> -->
    <div>
      <div style="text-align:center;margin:30px auto;">
        <div id="lyricContainer"></div>
      </div>
      <div style="text-align:center;">
        <audio id="myAudio" :src="mp3Url" autoplay loop="loop" controls="controls"></audio>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data() {
    return {
      inputSearch: '', // 搜索的文字
      inputSearchData: '', // 搜索的结果
      showLrc: false, // 是否显示歌词
      mp3Lrc: [], // 歌词
      mp3Url: '',
      mp3Id: [],
      currentPage: 1,
      currentIndex: ''
    }
  },
  created() {
    this.getSearch()
  },
  methods: {
    toggleLrc() {
      this.showLrc = !this.showLrc
    },
    handleCurrentChange() {
      this.getSearch()
    },
    parseLyric() {
      const lyrics = this.mp3Lrc.split('\n')
      const a = []
      const b = []
      for (let i = 0; i < lyrics.length; i++) {
        const lyric = decodeURIComponent(lyrics[i])
        // eslint-disable-next-line no-useless-escape
        const timeReg = /\[\d*:\d*((\.|\:)\d*)*\]/g
        const timeRegExpArr = lyric.match(timeReg)
        if (!timeRegExpArr) continue
        const clause = lyric.replace(timeReg, '')
        for (let k = 0, h = timeRegExpArr.length; k < h; k++) {
          const t = timeRegExpArr[k]
          const min = Number(String(t.match(/\[\d*/i)).slice(1))
          // eslint-disable-next-line no-useless-escape
          const sec = Number(String(t.match(/\:\d*/i)).slice(1))
          const time = min * 60 + sec
          a.push(time)
          b.push(clause)
        }
      }
      const audio = document.getElementById('myAudio')
      const lyricContainer = document.getElementById('lyricContainer')
      audio.ontimeupdate = function(e) {
        for (let i = 0, l = a.length; i < l; i++) {
          if (this.currentTime > a[i]) {
            lyricContainer.innerText = b.slice(i, i + 1)
          }
        }
      }
    },
    mp3Play(index) {
      this.currentIndex = index
      // 33894312
      axios.post(`/api/song/url?id=${this.mp3Id[index]}`).then((res) => {
        if (res.data.data[0].url) {
          this.mp3Url = res.data.data[0].url
          axios.post(`/api/lyric?id=${this.mp3Id[index]}`).then((res) => {
            this.mp3Lrc = res.data.lrc.lyric
            this.parseLyric()
          })
        } else {
          this.$message.error('当前歌曲缺失')
        }
      })
      // this.mp3Url = `http://music.163.com/song/media/outer/url?id=${this.mp3Id[index]}.mp3`
      // axios.post(`http://music.163.com/song/lyric?os=pc&id=${this.mp3Id[index]}&lv=-1&kv=-1&tv=-1`).then((res) => {
      //   this.mp3Lrc = res.data.lrc.lyric
      //   this.parseLyric()
      //   this.showLrc = true
      // })
    },
    getSearch() {
      // 接口地址：https://neteasecloudmusicapi.vercel.app/#/
      this.currentIndex = ''
      if (this.inputSearch === '') {
        // 默认取热门 hot50
        axios.post('/api/artist/top/song?id=6452&limit=50').then((res) => {
          this.mp3Id = []
          this.inputSearchData = res.data.songs
          res.data.songs.map((n) => {
            this.mp3Id.push(n.id)
          })
        })
      } else {
        // 根据条件搜索
        axios.post(`/api/search?type=1&limit=50&keywords=${this.inputSearch}`).then((res) => {
          this.mp3Id = []
          this.inputSearchData = res.data.result.songs
          res.data.result.songs.map((n) => {
            this.mp3Id.push(n.id)
          })
        })
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.hover-color:hover {
  background-color: $primary;
}
#myAudio {
  width: 90%;
  height: 30px;
  outline: none;
}
#lyricContainer {
  color: $primary;
  font-size: 20px;
  height: 30px;
}
</style>
