<template>
  <div>普通角色，登录用户名：{{ username }}</div>
</template>

<script>
import { getCookie } from '@/utils/cookie'
export default {
  data() {
    return {
      username: ''
    }
  },
  created() {
    this.username = getCookie('username')
  }
}
</script>

<style lang="scss" scoped></style>
