<template>
  <div>
    <el-col :span="4">
      <el-scrollbar>
        <el-tree
          ref="refTree"
          node-key="rowId"
          :data="menuData"
          default-expand-all
          :expand-on-click-node="false"
          :props="defaultProps"
          @node-click="handleNodeClick"
        ></el-tree>
      </el-scrollbar>
    </el-col>
    <el-col :span="10">
      <div class="rightTable">
        <div>当前选中菜单名称：{{ currentNode.label }}</div>
        <div>当前选中菜单路径：{{ nodePathArray }}</div>
      </div>
    </el-col>
    <el-col :span="10">
      菜单选择：<el-cascader
        v-model="directoryId"
        :props="{ checkStrictly: true, value: 'rowId', label: 'label' }"
        :options="treeData"
        clearable
      ></el-cascader>
      {{ directoryId }}
    </el-col>
  </div>
</template>

<script>
import { dataToTree } from '@/utils/myFun'
export default {
  data() {
    return {
      // 原始后端返回数据
      resData: [
        // { rowId: 0, label: '根节点' },
        { rowId: 1, parentId: 0, label: '1' },
        { rowId: 2, parentId: 1, label: '1-1' },
        { rowId: 3, parentId: 2, label: '1-1-1' },
        { rowId: 4, parentId: 0, label: '2' },
        { rowId: 5, parentId: 4, label: '2-1' }
      ],
      treeData: [], // 转成树状结构后的数据
      menuData: [], // treeData添加根节点之后的数据
      // 默认属性
      defaultProps: {
        children: 'children',
        label: 'label'
      },
      currentNode: '', // 当前选中节点
      directoryId: [], // 级联选择器选择的值
      nodePathArray: [] // 根据叶子结点获取的全路径
    }
  },
  mounted() {
    // 将数据转成树形结构
    this.treeData = dataToTree(this.resData)
    // 加根节点
    this.menuData = [
      {
        rowId: 0,
        label: '根节点',
        children: this.treeData
      }
    ]
    // 递归获取最里层元素
    this.getFirstData(this.menuData)
  },
  methods: {
    // 点击树节点事件
    handleNodeClick(data) {
      this.currentNode = data
      // 根据叶子结点获取全路径
      this.nodePathArray = []
      this.getNodeRoute(this.treeData, this.currentNode.rowId)
      // 初始进入设置样式
      this.$nextTick(() => {
        this.$refs.refTree.setCurrentKey(data.rowId)
      })
    },
    // 递归获取第一个最内层元素
    getFirstData(arr) {
      if (arr[0] && arr[0].children) {
        this.getFirstData(arr[0].children)
      } else {
        this.handleNodeClick(arr[0])
      }
    },
    // 获取叶子结点到根结点全路径方法
    getNodeRoute(tree, targetId) {
      for (let index = 0; index < tree.length; index++) {
        if (tree[index].children) {
          const endRecursiveLoop = this.getNodeRoute(tree[index].children, targetId)
          if (endRecursiveLoop) {
            this.nodePathArray.unshift(tree[index].rowId)
            return true
          }
        }
        if (tree[index].rowId === targetId) {
          this.nodePathArray.unshift(tree[index].rowId)
          return true
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
