<template>
  <div>
    <div class="form">
      <el-form :model="form" :inline="true">
        <!-- <el-form-item>
          <el-input v-model="form.roleCode" placeholder="角色编码"></el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="getTableData" icon="el-icon-search">{{ $t('Search') }}</el-button>
        </el-form-item> -->
      </el-form>
      <div style="margin-bottom: 20px;">
        <el-button type="primary" @click="addRole">新增角色</el-button>
      </div>
    </div>
    <div class="table" ref="table">
      <el-table :height="tableHeight" :data="tableData" border style="width: 100%">
        <!-- <el-table-column align="center" type="index" width="50" label="序号">
          <template slot-scope="scope">
            <span>{{ scope.$index + 1 + (currentPage - 1) * pageSize }}</span>
          </template></el-table-column
        > -->
        <el-table-column prop="user_id" label="角色id"> </el-table-column>
        <el-table-column prop="username" label="角色名称"> </el-table-column>
        <el-table-column label="操作">
          <template slot-scope="scope">
            <!-- <el-button @click="handleEdit(scope.row)" type="text">
              编辑
            </el-button> -->
            <el-button @click="handleDelete(scope.row.username)" type="text">
              删除
            </el-button>
            <!-- <el-button @click="menuEdit(scope.row)" type="text">
              菜单配置
            </el-button> -->
          </template>
        </el-table-column>
      </el-table>
    </div>
    <div class="pagination">
      <el-pagination
        :hide-on-single-page="true"
        @size-change="getTableData"
        @current-change="getTableData"
        :current-page.sync="currentPage"
        :page-sizes="pageSizes"
        :page-size="pageSize"
        layout="total, sizes, prev, pager, next, jumper"
        :total="total"
      >
      </el-pagination>
    </div>
    <div class="dialog">
      <el-dialog v-el-drag-dialog :title="flagAdd ? '新增角色' : '编辑角色'" width="30%" :visible.sync="dialogVisible">
        <el-form :model="dialogForm" ref="form" :rules="rules">
          <el-form-item label="角色名称" label-width="100px" prop="roleCode">
            <el-input :disabled="!flagAdd" placeholder="角色名称" v-model="dialogForm.roleCode"></el-input>
          </el-form-item>
          <el-form-item label="角色密码" label-width="100px" prop="roleDescription">
            <el-input placeholder="角色密码" v-model="dialogForm.roleDescription"></el-input>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="confirm">确 定</el-button>
        </div>
      </el-dialog>
      <el-dialog v-el-drag-dialog title="菜单配置" width="30%" :visible.sync="dialogVisibleMenu">
        <el-tree
          style="margin-left: 10%;"
          :data="menuData"
          show-checkbox
          node-key="id"
          :default-expanded-keys="[2, 3]"
          :default-checked-keys="[5]"
          :props="defaultProps"
        >
        </el-tree>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogVisibleMenu = false">取 消</el-button>
          <el-button type="primary" @click="confirmMenu">确 定</el-button>
        </div>
      </el-dialog>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import elDragDialog from '@/directive/el-drag-dialog'
import { getCookie } from '@/utils/cookie'

export default {
  name: 'RoleManagement',
  directives: { elDragDialog },
  data() {
    return {
      tableHeight: 0, // 表格自适应的高度
      currentPage: 1, // 当前页
      pageSizes: [10, 20, 30, 50], // 可选的分页
      pageSize: 10, // 当前分页每页的数量
      total: 0, // 总数据量

      // 表格数据
      tableData: [
        // {
        //   roleCode: '管理员',
        //   roleDescription: '管理员'
        // },
        // {
        //   roleCode: '普通用户',
        //   roleDescription: '普通用户'
        // },
        // {
        //   roleCode: '后端',
        //   roleDescription: '后端'
        // },
        // {
        //   roleCode: '前端',
        //   roleDescription: '前端'
        // },
        // {
        //   roleCode: '设计',
        //   roleDescription: '设计'
        // },
        // {
        //   roleCode: '测试',
        //   roleDescription: '测试'
        // },
        // {
        //   roleCode: '产品',
        //   roleDescription: '产品'
        // }
      ],
      // 表单数据
      form: {
        roleCode: ''
      },
      // 弹出框表单数据
      dialogForm: {
        roleCode: '',
        roleDescription: ''
      },
      // 数据校验
      rules: {
        roleCode: [{ required: true, message: '角色名称不能为空', trigger: 'blur' }],
        roleDescription: [{ required: true, message: '角色密码不能为空', trigger: 'blur' }]
      },
      dialogVisible: false, // 弹出框是否显示
      flagAdd: true, // 判断弹框是新增还是编辑
      dialogVisibleMenu: false, // 菜单配置菜单
      menuData: [
        {
          id: 1,
          label: '一级 1',
          children: [
            {
              id: 4,
              label: '二级 1-1',
              children: [
                {
                  id: 9,
                  label: '三级 1-1-1'
                },
                {
                  id: 10,
                  label: '三级 1-1-2'
                }
              ]
            }
          ]
        },
        {
          id: 2,
          label: '一级 2',
          children: [
            {
              id: 5,
              label: '二级 2-1'
            },
            {
              id: 6,
              label: '二级 2-2'
            }
          ]
        },
        {
          id: 3,
          label: '一级 3',
          children: [
            {
              id: 7,
              label: '二级 3-1'
            },
            {
              id: 8,
              label: '二级 3-2'
            }
          ]
        }
      ],
      defaultProps: {
        children: 'children',
        label: 'label'
      }
    }
  },
  created() {
    window.addEventListener('resize', this.resizeHeight, false)
    this.resizeHeight()
    this.getTableData()
  },
  methods: {
    resizeHeight() {
      this.tableHeight = document.body.offsetHeight - 220 + 'px'
    },
    // 获取表格数据
    getTableData() {
      axios({
        headers: {
          Authorization: 'Bearer ' + getCookie('token')
        },
        method: 'get',
        url: '/api2/nest-api/user/list'
      })
        .then((res) => {
          this.tableData = res.data.user
        })
        .catch(() => {
          this.$message.error('登录token过期，请重新登录')
          this.$router.push('/login')
        })
    },
    // 添加角色弹框
    addRole() {
      this.dialogForm = {
        roleCode: '',
        roleDescription: ''
      }
      this.flagAdd = true
      this.dialogVisible = true
    },
    // 编辑
    handleEdit(row) {
      this.flagAdd = false
      this.dialogForm = row
      this.dialogVisible = true
    },
    menuEdit() {
      this.dialogVisibleMenu = true
    },
    confirmMenu() {
      this.dialogVisibleMenu = false
      this.$message.success('菜单配置成功')
    },
    // 确定，新增/编辑
    confirm() {
      this.$refs.form.validate((valid) => {
        if (valid) {
          // 新增/编辑的确认
          if (this.flagAdd) {
            axios
              .post('/api2/nest-api/user/register', {
                username: this.dialogForm.roleCode,
                password: this.dialogForm.roleDescription
              })
              .then((res) => {
                if (res.data.code === 200) {
                  this.$message.success('新增成功')
                  this.getTableData()
                  this.dialogVisible = false
                } else {
                  this.$message.error(res.data.msg)
                }
              })
              .catch(() => {
                this.$message.error('登录token过期，请重新登录')
                this.$router.push('/login')
              })
          } else {
            this.dialogVisible = false
            this.$message.success('编辑角色成功')
          }
        }
      })
    },
    // 删除角色
    handleDelete(username) {
      this.$confirm('此操作将永久删除该角色, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      })
        .then(() => {
          axios({
            headers: {
              Authorization: 'Bearer ' + getCookie('token')
            },
            method: 'post',
            url: '/api2/nest-api/user/remove',
            data: { username }
          })
            .then((res) => {
              if (res.data.code === 200) {
                this.$message.success('删除成功')
                this.getTableData()
              } else {
                this.$message.error(res.data.msg)
              }
            })
            .catch(() => {
              this.$message.error('登录token过期，请重新登录')
              this.$router.push('/login')
            })
        })
        .catch(() => {
          this.$message({
            type: 'info',
            showClose: true,
            message: '已取消删除'
          })
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.form {
  display: flex;
  justify-content: space-between;
}
</style>
