<template>
  <div>
    {{ name }} <button @click="changeName">修改name值</button>
    <h1>This is an home page</h1>
    <img alt="Vue logo" :src="env + '/img/logo.png'" />
  </div>
</template>

<script>
export default {
  data() {
    return {
      name: '',
      env: ''
    }
  },
  created() {
    this.name = window.$microStore ? window.$microStore.state.name : '共享变量名'
  },
  mounted() {
    this.env = window.env
  },
  methods: {
    changeName() {
      window.$microStore.commit('changeName', 'vue2')
      this.name = window.$microStore.state.name
    }
  }
}
</script>
