<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=7e21abpQd42zi9mrBtatK1UO5KdF1btZ"></script>
    <script type="text/javascript" src="https://api.map.baidu.com/api?type=subway&v=1.0&ak=7e21abpQd42zi9mrBtatK1UO5KdF1btZ"></script>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <noscript>
      <strong
        >We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it
        to continue.</strong
      >
    </noscript>
    <div id="app"></div>
    <!-- 配置CDN，注意版本号要与package.json中保持一致，否则会导致异常错误 -->
    <!-- <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/vue-router/3.2.0/vue-router.min.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.19.0/axios.min.js"></script>
    <script src="https://cdn.bootcss.com/element-ui/2.15.6/index.js"></script> -->
    <!-- 从本地加载，解决从外部服务器加载文件过慢的问题 -->
    <script src="<%= BASE_URL %>tinymce/tinymce.min.js"></script>
  </body>
</html>
