<template>
  <div>
    <div id="container"></div>
    <router-view />
  </div>
</template>

<script>
import store from '@/store'
// 使用qiankun
import { registerMicroApps, start } from 'qiankun'
export default {
  name: 'Micro',
  mounted() {
    // 子应用列表
    let apps = []

    // setTimeout(() => {
    //   store.commit('changeName', 'baseName')
    // }, 3000)

    if (process.env.NODE_ENV === 'development') {
      apps = [
        {
          name: 'microVue2',
          entry: '//localhost:8080', // 子应用的地址，这里演示是本地启动的地址。
          container: '#container', // 子应用的容器节点的选择器（vue一般为app）
          activeRule: '/micro/vue2', // 访问子应用的规则，比如：主应用为localhost:8081，那访问该子应用的url应为localhost:8081/subapp
          props: {
            store
          }
        },
        {
          name: 'microVue3',
          entry: '//localhost:8081', // 子应用的地址，这里演示是本地启动的地址。
          container: '#container', // 子应用的容器节点的选择器（vue一般为app）
          activeRule: '/micro/vue3', // 访问子应用的规则，比如：主应用为localhost:8081，那访问该子应用的url应为localhost:8081/subapp
          props: {
            store
          }
        }
      ]
    } else if (process.env.NODE_ENV === 'production') {
      apps = [
        {
          name: 'microVue2',
          entry: 'https://vue2.yuanchengjs.cn/', // 子应用的地址，这里演示是本地启动的地址。
          container: '#container', // 子应用的容器节点的选择器（vue一般为app）
          activeRule: '/micro/vue2', // 访问子应用的规则，比如：主应用为localhost:8081，那访问该子应用的url应为localhost:8081/subapp
          props: {
            store
          }
        },
        {
          name: 'microVue3',
          entry: 'https://vue3.yuanchengjs.cn/', // 子应用的地址，这里演示是本地启动的地址。
          container: '#container', // 子应用的容器节点的选择器（vue一般为app）
          activeRule: '/micro/vue3', // 访问子应用的规则，比如：主应用为localhost:8081，那访问该子应用的url应为localhost:8081/subapp
          props: {
            store
          }
        }
      ]
    }

    // 注册子应用
    registerMicroApps(apps)

    // if (!window.qiankunStarted) {
    //   window.qiankunStarted = true
    //   // 启动
    //   console.log(99999)
    //   start()
    // }
    start()
    // console.log(88888)
  }
}
</script>
