<template>
  <div>
    <div class="form">
      <el-form :model="form" :inline="true">
        <el-form-item>
          <el-input v-model="form.userCode" placeholder="用户编码"></el-input>
        </el-form-item>
        <el-form-item>
          <el-input v-model="form.userCode" placeholder="用户姓名"></el-input>
        </el-form-item>
        <el-form-item>
          <el-select v-model="form.userRole" placeholder="所属角色" clearable>
            <el-option v-for="item in roleOptions" :key="item.value" :label="item.label" :value="item.value"> </el-option>
          </el-select>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="getTableData" icon="el-icon-search">{{ $t('Search') }}</el-button>
        </el-form-item>
      </el-form>
      <div>
        <el-button type="primary" @click="addUser">新增用户</el-button>
      </div>
    </div>
    <div class="table" ref="table">
      <el-table :height="tableHeight" :data="tableData" border style="width: 100%">
        <el-table-column align="center" type="index" width="50" label="序号">
          <template slot-scope="scope">
            <span>{{ scope.$index + 1 + (currentPage - 1) * pageSize }}</span>
          </template></el-table-column
        >
        <el-table-column prop="userCode" label="用户编码"> </el-table-column>
        <el-table-column prop="userName" label="用户姓名"> </el-table-column>
        <el-table-column prop="userRole" label="所属角色"> </el-table-column>
        <el-table-column prop="userDescription" label="用户描述"> </el-table-column>
        <el-table-column label="操作">
          <template slot-scope="scope">
            <el-button @click="handleEdit(scope.row)" type="text">
              编辑
            </el-button>
            <el-button @click="handleDelete(scope.row.id)" type="text">
              删除
            </el-button>
            <el-button type="text">
              密码修改
            </el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <div class="pagination">
      <el-pagination
        :hide-on-single-page="true"
        @size-change="getTableData"
        @current-change="getTableData"
        :current-page.sync="currentPage"
        :page-sizes="pageSizes"
        :page-size="pageSize"
        layout="total, sizes, prev, pager, next, jumper"
        :total="total"
      >
      </el-pagination>
    </div>
    <div class="dialog">
      <el-dialog v-el-drag-dialog :title="flagAdd ? '新增用户' : '编辑用户'" width="30%" :visible.sync="dialogVisible">
        <el-form :model="dialogForm" ref="form" :rules="rules">
          <el-form-item label="用户编码：" label-width="100px" prop="userCode">
            <el-input placeholder="用户编码" :disabled="!flagAdd" v-model="dialogForm.userCode"></el-input>
          </el-form-item>
          <el-form-item label="用户姓名：" label-width="100px" prop="userCode">
            <el-input placeholder="用户姓名" v-model="dialogForm.userName"></el-input>
          </el-form-item>
          <el-form-item label="所属角色：" label-width="100px" prop="userRole">
            <el-select v-model="dialogForm.userRole" placeholder="所属角色" clearable>
              <el-option v-for="item in roleOptions" :key="item.value" :label="item.label" :value="item.value"> </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="用户描述：" label-width="100px" prop="userDescription">
            <el-input placeholder="用户描述" v-model="dialogForm.userDescription"></el-input>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="confirm">确 定</el-button>
        </div>
      </el-dialog>
    </div>
  </div>
</template>

<script>
import elDragDialog from '@/directive/el-drag-dialog'
export default {
  name: 'UserManagement',
  directives: { elDragDialog },
  data() {
    return {
      tableHeight: 0, // 表格自适应的高度
      currentPage: 1, // 当前页
      pageSizes: [10, 20, 30, 50], // 可选的分页
      pageSize: 10, // 当前分页每页的数量
      total: 0, // 总数据量
      // 角色可选项
      roleOptions: [
        {
          value: '管理员',
          label: '管理员'
        },
        {
          value: '普通用户',
          label: '普通用户'
        },
        {
          value: '后端',
          label: '后端'
        },
        {
          value: '前端',
          label: '前端'
        },
        {
          value: '设计',
          label: '设计'
        },
        {
          value: '测试',
          label: '测试'
        },
        {
          value: '产品',
          label: '产品'
        }
      ],
      // 表格数据
      tableData: [
        {
          userCode: 'admin',
          userName: '李林',
          userRole: '管理员',
          userDescription: ''
        },
        {
          userCode: 'user',
          userName: '李林2',
          userRole: '普通用户',
          userDescription: ''
        }
      ],
      // 表单数据
      form: {
        userCode: '',
        userName: '',
        userRole: ''
      },
      // 弹出框表单数据
      dialogForm: {
        userCode: '',
        userName: '',
        userRole: '',
        userDescription: ''
      },
      // 数据校验
      rules: {
        userCode: [{ required: true, message: '用户编码不能为空', trigger: 'blur' }],
        userName: [{ required: true, message: '用户姓名不能为空', trigger: 'blur' }],
        userRole: [{ required: true, message: '用户角色不能为空', trigger: 'blur' }]
      },
      dialogVisible: false, // 弹出框是否显示
      flagAdd: true // 判断弹框是新增还是编辑
    }
  },
  created() {
    window.addEventListener('resize', this.resizeHeight, false)
    this.resizeHeight()
    this.getTableData()
  },
  methods: {
    resizeHeight() {
      this.tableHeight = document.body.offsetHeight - 220 + 'px'
    },
    // 获取表格数据
    getTableData() {},
    // 添加用户弹框
    addUser() {
      this.dialogForm = {
        userCode: '',
        userName: '',
        userRole: '',
        userDescription: ''
      }
      this.flagAdd = true
      this.dialogVisible = true
    },
    // 编辑
    handleEdit(row) {
      this.flagAdd = false
      this.dialogForm = row
      this.dialogVisible = true
    },
    // 确定，新增/编辑
    confirm() {
      this.$refs.form.validate((valid) => {
        if (valid) {
          // 新增/编辑的确认
          if (this.flagAdd) {
            this.dialogVisible = false
            this.$message.success('新增用户成功')
          } else {
            this.dialogVisible = false
            this.$message.success('编辑用户成功')
          }
        }
      })
    },
    // 删除用户
    handleDelete(id) {
      this.$confirm('此操作将永久删除该用户, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      })
        .then(() => {})
        .catch(() => {
          this.$message({
            type: 'info',
            showClose: true,
            message: '已取消删除'
          })
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.form {
  display: flex;
  justify-content: space-between;
}
</style>
