<template>
  <div>
    <div style="min-width: 800px; padding-left: 20px;margin-top: 20px;">
      <el-row>
        <el-col :span="5" style="margin-right: 20px;">
          <el-scrollbar>
            <div style="background-color: #fff;padding: 10px;font-size: 18px;">目录列表</div>
            <div class="leftTree">
              <el-tree
                style="padding: 10px;height: 500px;overflow: auto;"
                ref="refTree"
                node-key="code"
                :data="treeData"
                default-expand-all
                :default-expanded-keys="defaultExpanded"
                :expand-on-click-node="false"
                :props="defaultProps"
                @node-click="handleNodeClick"
              ></el-tree>
            </div>
          </el-scrollbar>
        </el-col>
        <el-col :span="18">
          <el-button style="margin-bottom:10px;" type="primary" @click="addMenu">新增目录</el-button>
          <el-table :data="tableData" border>
            style="width: 100%">
            <!-- { name: 'DynamicMenu', icon: 'el-icon-s-tools', rowId: 1, path: '/DynamicMenu' }, -->
            <!-- { name: 'UserMenu', icon: 'el-icon-s-tools', parentId: 1, rowId: 2, path: '/DynamicMenu/UserMenu' } -->
            <el-table-column prop="id" label="目录ID"> </el-table-column>
            <el-table-column prop="name" label="目录中文"> </el-table-column>
            <el-table-column prop="code" label="目录英文"> </el-table-column>
            <el-table-column prop="icon" label="目录图标"> </el-table-column>
            <el-table-column prop="url" label="目录路径"> </el-table-column>
            <el-table-column prop="sort" label="目录排序"> </el-table-column>
            <!-- <el-table-column label="排序">
              <template slot-scope="scope">
                <el-button size="mini" type="text" v-if="scope.$index !== 0" @click="move(scope.row, 0)">上移</el-button>
                <el-button size="mini" type="text" v-show="scope.$index !== tableData.length - 1" @click="move(scope.row, 1)"
                  >下移</el-button
                >
              </template>
            </el-table-column> -->
            <el-table-column label="操作">
              <template slot-scope="scope">
                <el-button size="mini" type="text" @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
                <el-button size="mini" type="text" @click="handleDelete(scope.$index, scope.row)">删除</el-button>
              </template>
            </el-table-column>
          </el-table>
        </el-col>
      </el-row>
      <el-dialog :append-to-body="true" :title="flagAdd ? '新增目录' : '编辑目录'" width="30%" :visible.sync="dialogVisible">
        <el-form :model="dialogForm" ref="form" :rules="rules">
          <el-form-item label="目录名称：" label-width="100px" prop="name">
            <el-input v-model="dialogForm.name"></el-input>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="confirm">确 定</el-button>
        </div>
      </el-dialog>
    </div>
  </div>
</template>

<script>
export default {
  data: function() {
    return {
      // 扁平数组菜单
      resData: [
        { code: 1, name: '1级菜单', id: 0 },
        { parentCode: 1, code: 2, name: '2级菜单', id: 1 },
        { parentCode: 2, code: 3, name: '3级菜单', id: 2 },
        { code: 4, name: '1级菜单', id: 3 },
        { parentCode: 4, code: 5, name: '2级菜单', id: 4 }
      ],
      treeData: [], // 扁平数组菜单转树状结构
      defaultProps: {
        children: 'children',
        label: 'name'
      },
      currentData: '', // 当前点击树的结点
      flagAdd: false, // 新增还是编辑弹框标识
      dialogVisible: false, // 弹框是否显示
      dialogForm: { id: '', name: '' }, // 弹框内form表单数据
      // 数据校验
      rules: {
        name: [{ required: true, message: '目录名称不能为空', trigger: 'blur' }]
      },
      defaultExpanded: [''], // 默认展开目录
      // 表格数据
      tableData: [
        {
          id: '1',
          code: 'menu',
          name: '目录',
          icon: 'el-icon-menu',
          url: '/systemManagement/roleManagement',
          sort: 1
        },
        {
          id: '2',
          code: 'menu2',
          name: '目录2',
          icon: 'el-icon-menu',
          url: '/systemManagement/roleManagement',
          sort: 2
        },
        {
          id: '3',
          code: 'menu3',
          name: '目录3',
          icon: 'el-icon-menu',
          url: '/systemManagement/roleManagement',
          sort: 3
        }
      ]
    }
  },
  created() {
    this.init()
  },
  methods: {
    // 获取初始进入数据
    init() {
      // Store(['scania!directory-management/data/listTree'])
      //   .load([
      //     {
      //       aliases: 'list'
      //     }
      //   ])
      //   .done((store, data) => {
      //     this.treeData = data.list.data

      //     this.treeData = [
      //       {
      //         children: this.treeData,
      //         code: '',
      //         name: '根目录'
      //       }
      //     ]
      //     this.handleNodeClick(this.treeData[0])
      //   })
      //   .fail((store) => {
      //     this.$message.error(store.message)
      //   })
      this.treeData = [
        {
          children: this.dataToTree(this.resData),
          code: '',
          name: '根目录'
        }
      ]
      if (this.currentData) {
        this.handleNodeClick(this.currentData)
      } else {
        this.handleNodeClick(this.treeData[0])
      }
    },
    // 扁平数组菜单转树状结构方法
    dataToTree(data) {
      const map = {}
      const treeData = []
      if (data) {
        data.map((item) => {
          map[item.code] = item
        })
        data.map((item) => {
          const parent = map[item.parentCode]
          if (parent) {
            if (!Array.isArray(parent.children)) parent.children = []
            parent.children.push(item)
          } else {
            treeData.push(item)
          }
        })
        return treeData
      }
    },
    // 树状菜单点击事件
    handleNodeClick(data) {
      this.currentData = data
      this.defaultExpanded = []
      this.defaultExpanded.push(this.currentData.code)
      // Store(['scania!directory-management/data/list'])
      //   .load([
      //     {
      //       aliases: 'list',
      //       params: {
      //         parentCode: data.code
      //       }
      //     }
      //   ])
      //   .done((store, data) => {
      //     this.tableData = data.list.data
      //   })
      //   .fail((store) => {
      //     this.$message.error(store.message)
      //   })

      // 初始进入设置样式
      this.$nextTick(() => {
        this.$refs.refTree.setCurrentKey(data.code)
      })
    },
    // 上下移动
    move(row, moveNum) {
      // Store(['scania!directory-management/data/move'])
      //   .save([
      //     {
      //       aliases: 'list',
      //       params: {
      //         code: row.code,
      //         direction: moveNum
      //       }
      //     }
      //   ])
      //   .done((store, data) => {
      //     this.$message.success('移动成功')
      //     this.init()
      //   })
      //   .fail((store) => {
      //     this.$message.error(store.message)
      //   })
    },
    // 编辑
    handleEdit(index, row) {
      this.flagAdd = false
      this.dialogVisible = true
      this.dialogForm = {
        id: row.id,
        name: row.name
      }
      console.log(index, row)
    },
    // 删除
    handleDelete(index, row) {
      this.$confirm('此操作将永久删除该目录, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      })
        .then(() => {
          console.log(index, row)
          // Store(['scania!directory-management/data/delete'])
          //   .save([
          //     {
          //       aliases: 'list',
          //       params: {
          //         id: row.id
          //       }
          //     }
          //   ])
          //   .done((store, data) => {
          //     this.init()
          //     this.$message.success('删除成功')
          //   })
          //   .fail((store) => {
          //     this.$message.error(store.message)
          //   })
        })
        .catch(() => {
          this.$message({
            type: 'info',
            showClose: true,
            message: '已取消删除'
          })
        })
    },
    // 新增
    addMenu() {
      this.dialogForm = {
        id: '',
        name: ''
      }
      this.flagAdd = true
      this.dialogVisible = true
    },
    // 确定，新增/编辑
    confirm() {
      this.$refs.form.validate((valid) => {
        if (valid) {
          // 新增/编辑的确认
          if (this.flagAdd) {
            // Store(['scania!directory-management/data/add'])
            //   .save([
            //     {
            //       aliases: 'list',
            //       params: {
            //         parentCode: this.currentData.code,
            //         name: this.dialogForm.name
            //       }
            //     }
            //   ])
            //   .done((store, data) => {
            //     this.$message.success('新增目录成功')
            //     this.dialogVisible = false
            //     this.init()
            //   })
            //   .fail((store) => {
            //     this.$message.error(store.message)
            //   })
          } else {
            // Store(['scania!directory-management/data/update'])
            //   .save([
            //     {
            //       aliases: 'list',
            //       params: {
            //         id: this.dialogForm.id,
            //         name: this.dialogForm.name
            //       }
            //     }
            //   ])
            //   .done((store, data) => {
            //     this.dialogVisible = false
            //     this.$message.success('编辑目录成功')
            //     this.init()
            //   })
            //   .fail((store) => {
            //     this.$message.error(store.message)
            //   })
          }
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped></style>
