<template>
  <div class="boxs">
    <div class="box">
      <div class="title">时间格式化moment</div>
      <ul>
        <li>当前时间：{{ currentTime }}</li>
        <li>一周前时间：{{ lastweekTime }}</li>
        <li>一周后时间：{{ nextweekTime }}</li>
        <li>本周开始时间：{{ currentWeek }}</li>
        <li>本月开始时间：{{ currentMonth }}</li>
        <li>本年开始时间：{{ currentYear }}</li>
        <li>当前时间戳：{{ timeStamp1 }}</li>
        <li>当前时间戳：{{ timeStamp2 }}</li>
        <li>一天时间戳相差：{{ timeStampDiffer }}</li>
      </ul>
    </div>
    <img :src="imgUrl" style="height: 300px;" alt="" />
  </div>
</template>

<script>
import moment from 'moment'
export default {
  data() {
    return {
      lastweekTime: '',
      currentTime: '',
      nextweekTime: '',
      currentWeek: '',
      currentMonth: '',
      currentYear: '',
      timeStamp1: '',
      timeStamp2: '',
      timeStampDiffer: '',
      imgUrl: ''
    }
  },
  created() {
    const week = () => {
      switch (moment().day()) {
        case 1:
          return '周一'
        case 2:
          return '周二'
        case 3:
          return '周三'
        case 4:
          return '周四'
        case 5:
          return '周五'
        case 6:
          return '周六'
        case 0:
          return '周日'
      }
    }
    this.currentTime = moment().format('YYYY-MM-DD HH:mm:ss') + ' ' + week()
    this.lastweekTime = moment()
      .subtract(7, 'days')
      .format('YYYY-MM-DD HH:mm:ss')
    this.nextweekTime = moment()
      .add(7, 'days')
      .format('YYYY-MM-DD HH:mm:ss')
    this.currentWeek = moment()
      .startOf('week')
      .add(1, 'days')
      .format('YYYY-MM-DD HH:mm:ss')
    this.currentMonth = moment()
      .startOf('month')
      .format('YYYY-MM-DD HH:mm:ss')
    this.currentYear = moment()
      .startOf('year')
      .format('YYYY-MM-DD HH:mm:ss')
    this.timeStamp1 = moment().valueOf()
    this.timeStamp2 = new Date().getTime()
    this.timeStampDiffer =
      moment()
        .add(1, 'days')
        .valueOf() - this.timeStamp1

    const temp = moment().day()
    this.imgUrl = require(`@img/undraw_${temp}.png`)
    // moment('2020-11-21').diff(moment('2020-08-01'), 'days')
  }
}
</script>

<style lang="scss" scoped>
.boxs {
  display: flex;
  // justify-content: space-between;
  .box {
    border: 1px solid #ddd;
    padding: 20px;
    .title {
      font-size: 18px;
      margin-bottom: 10px;
    }
    li {
      line-height: 26px;
    }
  }
}
</style>
