<template>
  <div>
    <div class="form">
      <el-form :model="form" :inline="true">
        <el-form-item>
          <el-input v-model="form.typeCode" placeholder="分类编码"></el-input>
        </el-form-item>
        <el-form-item>
          <el-input v-model="form.typeName" placeholder="分类名称"></el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="getTableData" icon="el-icon-search">{{ $t('Search') }}</el-button>
        </el-form-item>
      </el-form>
      <div>
        <el-button type="primary" @click="addType">新增分类</el-button>
      </div>
    </div>
    <div class="table" ref="table">
      <el-table :height="tableHeight" :data="tableData" border style="width: 100%">
        <el-table-column align="center" type="index" width="50" label="序号">
          <template slot-scope="scope">
            <span>{{ scope.$index + 1 + (currentPage - 1) * pageSize }}</span>
          </template></el-table-column
        >
        <el-table-column prop="typeCode" label="分类编码"> </el-table-column>
        <el-table-column prop="typeName" label="分类名称"> </el-table-column>
        <el-table-column label="操作">
          <template slot-scope="scope">
            <el-button @click="handleEdit(scope.row)" type="text">
              编辑
            </el-button>
            <el-button @click="handleDelete(scope.row.id)" type="text">
              删除
            </el-button>
            <el-button @click="dictEdit(scope.row)" type="text">
              字典配置
            </el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <div class="pagination">
      <el-pagination
        :hide-on-single-page="true"
        @size-change="getTableData"
        @current-change="getTableData"
        :current-page.sync="currentPage"
        :page-sizes="pageSizes"
        :page-size="pageSize"
        layout="total, sizes, prev, pager, next, jumper"
        :total="total"
      >
      </el-pagination>
    </div>
    <div class="dialog">
      <el-dialog v-el-drag-dialog :title="flagAdd ? '新增分类' : '编辑分类'" width="30%" :visible.sync="dialogVisible">
        <el-form :model="dialogForm" ref="form" :rules="rules">
          <el-form-item label="字典编码：" label-width="100px" prop="typeCode">
            <el-input :disabled="!flagAdd" placeholder="分类编码" v-model="dialogForm.typeCode"></el-input>
          </el-form-item>
          <el-form-item label="字典名称：" label-width="100px" prop="typeName">
            <el-input placeholder="字典名称" v-model="dialogForm.typeName"></el-input>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="confirm">确 定</el-button>
        </div>
      </el-dialog>
      <el-dialog v-el-drag-dialog title="字典配置" width="60%" :visible.sync="dialogVisibleDict">
        <el-button type="primary" style="margin-bottom: 10px;">新增字典</el-button>
        <el-table :data="tableDataDialog" border style="width: 100%">
          <el-table-column align="center" type="index" width="50" label="序号">
            <template slot-scope="scope">
              <span>{{ scope.$index + 1 + (currentPage - 1) * pageSize }}</span>
            </template></el-table-column
          >
          <el-table-column prop="dictCode" label="字典编码"> </el-table-column>
          <el-table-column prop="dictName" label="字典名称"> </el-table-column>
          <el-table-column label="操作">
            <span class="edit">
              编辑
            </span>
            <span class="edit">
              删除
            </span>
          </el-table-column>
        </el-table>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogVisibleDict = false">取 消</el-button>
          <el-button type="primary" @click="confirmDict">确 定</el-button>
        </div>
      </el-dialog>
    </div>
  </div>
</template>

<script>
import elDragDialog from '@/directive/el-drag-dialog'
export default {
  name: 'DictManagement',
  directives: { elDragDialog },
  data() {
    return {
      tableHeight: 0, // 表格自适应的高度
      currentPage: 1, // 当前页
      pageSizes: [10, 20, 30, 50], // 可选的分页
      pageSize: 10, // 当前分页每页的数量
      total: 0, // 总数据量
      // 表格数据
      tableData: [
        {
          typeCode: 'dt_vip_level',
          typeName: '会员等级'
        },
        {
          typeCode: 'dt_payment_stats',
          typeName: '支付状态'
        },
        {
          typeCode: 'dt_effective_status',
          typeName: '生效状态'
        }
      ],
      tableDataDialog: [
        {
          dictCode: 'dt_silver_vip',
          dictName: '银牌会员'
        },
        {
          dictCode: 'dt_gold_vip',
          dictName: '金牌会员'
        },
        {
          dictCode: 'dt_diamond_vip',
          dictName: '钻石会员'
        }
      ],
      // 表单数据
      form: {
        typeCode: '',
        typeName: ''
      },
      // 弹出框表单数据
      dialogForm: {
        typeCode: '',
        typeName: ''
      },
      // 数据校验
      rules: {
        typeCode: [{ required: true, message: '字典编码不能为空', trigger: 'blur' }],
        typeName: [{ required: true, message: '字典名称不能为空', trigger: 'blur' }]
      },
      dialogVisible: false, // 弹出框是否显示
      flagAdd: true, // 判断弹框是新增还是编辑
      dialogVisibleDict: false // 字典配置菜单是否显示
    }
  },
  created() {
    window.addEventListener('resize', this.resizeHeight, false)
    this.resizeHeight()
    this.getTableData()
  },
  methods: {
    resizeHeight() {
      this.tableHeight = document.body.offsetHeight - 220 + 'px'
    },
    // 获取表格数据
    getTableData() {},
    // 添加字典弹框
    addType() {
      this.dialogForm = {
        typeCode: '',
        typeName: ''
      }
      this.flagAdd = true
      this.dialogVisible = true
    },
    // 编辑
    handleEdit(row) {
      this.flagAdd = false
      this.dialogForm = row
      this.dialogVisible = true
    },
    dictEdit() {
      this.dialogVisibleDict = true
    },
    confirmDict() {
      this.dialogVisibleDict = false
      this.$message.success('字典配置成功')
    },
    // 确定，新增/编辑
    confirm() {
      this.$refs.form.validate((valid) => {
        if (valid) {
          // 新增/编辑的确认
          if (this.flagAdd) {
            this.dialogVisible = false
            this.$message.success('新增字典成功')
          } else {
            this.dialogVisible = false
            this.$message.success('编辑字典成功')
          }
        }
      })
    },
    // 删除字典
    handleDelete(id) {
      this.$confirm('此操作将永久删除该分类, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      })
        .then(() => {})
        .catch(() => {
          this.$message({
            type: 'info',
            showClose: true,
            message: '已取消删除'
          })
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.form {
  display: flex;
  justify-content: space-between;
}
</style>
