<template>
  <div>
    {{ name }}
    <button @click="changeName">修改name值</button>
    <h1>This is an vue3 apply</h1>
    <div class="logo">
      <img alt="Vue logo" :src="env + '/img/logo.png'" />
    </div>
    <router-view />
  </div>
</template>

<script setup>
import { ref } from 'vue'

// 固定值，不需要响应式
const env = window.env

// 主应用和微应用共享数据
const name = ref('')
name.value = window.$microStore ? window.$microStore.state.name : '共享变量名'
const changeName = () => {
  window.$microStore.commit('changeName', 'vue3')
  name.value = window.$microStore.state.name
}
</script>
<style>
.logo {
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
  /* transform-origin: 0 100%; */
  transform: skew(0, -12deg);
  overflow: hidden;
  border-radius: 20px;
  border-bottom-right-radius: 80px;
}

img {
  transform: skew(0, 12deg);
  border-radius: 20px;
  /* border: 1px solid #ccc; */
  /* transform-origin: 0 100%; */
}
</style>
