<template>
  <div class="home" style="margin-top: 50px;">
    <ul>
      <li>字符串msg：{{ msg }}</li>
      <li>字符串reMsg：{{ reMsg }}</li>
      <li>对象obj：{{ obj }}</li>
      <li>对象obj的age：{{ age }}</li>
      <li>对象name的firstName：{{ name.firstName }}</li>
      <li>对象name的lastName：{{ name.lastName }}</li>
      <li>对象name的fullName：{{ name.fullName }}</li>
    </ul>
    <button @click="changeMsg">修改msg</button>
    <button @click="changeObj($event)">修改obj</button>
    <button @click="changeName">修改name的firstName</button>
  </div>
</template>

<script setup>
import { ref, reactive, toRefs, computed, watch } from 'vue'

// 字符串的响应式
let msg = ref('hello')
const changeMsg = () => (msg.value = 'hi')

// 对象的响应式
let obj = reactive({
  age: 18
})
const changeObj = (e) => {
  obj.age = 28
  console.log(e)
}
const { age } = toRefs(obj)

// 计算属性
const reMsg = computed(() => {
  return msg.value
    .split('')
    .reverse()
    .join('')
})

// watch监听对象
let name = reactive({
  firstName: '1',
  lastName: '2',
  fullName: '12'
})
watch(name, () => {
  name.fullName = name.firstName + name.lastName
})
const changeName = () => {
  name.firstName = '11'
}
</script>
