<template>
  <div>
    <div class="path">
      <span
        :class="{ active: currentCode === item.code }"
        v-for="(item, index) in breadcrumbPath"
        :key="item.code"
        @click="getChartData(item.code)"
      >
        {{ item.name
        }}<span v-if="index !== breadcrumbPath.length - 1">
          <i class="el-icon-arrow-right"></i>
        </span>
      </span>
    </div>
    <div id="echart" :style="{ height: echartsHeight }" ref="echart"></div>
  </div>
</template>

<script>
// 接口地址：http://datav.aliyun.com/portal/school/atlas/area_selector#&lat=35.88905007936091&lng=117.69653320312499&zoom=6
export default {
  data() {
    return {
      echartProvinceData: [], // 获取的子数据数组
      chartInstane: null, // echart实例
      echartsHeight: '400px', // 图表默认高度
      currentCode: 100000, // 当前点击的区域
      // 面包屑默认路径
      breadcrumbPath: [
        { name: '全国', code: 100000 },
        { name: '湖北省', code: 420000 },
        { name: '武汉市', code: 420100 }
      ]
    }
  },
  created() {
    // 设置高度
    this.resizeHeight()
  },
  mounted() {
    // 初始化绘制全国地图配置
    this.initCharts()
    // 默认初始加载全国数据
    this.getChartData(100000)
  },
  methods: {
    // 初始化
    initCharts() {
      this.chartInstane = this.$echarts.init(this.$refs.echart)
      const initOption = {
        tooltip: {
          trigger: 'item',
          formatter: '{b}'
        },
        visualMap: [
          {
            seriesIndex: 0,
            min: 0,
            max: 2000,
            left: 'left',
            top: 'bottom',
            text: ['高', '低'], // 文本，默认为数值文本
            calculable: true,
            inRange: {
              color: ['#F5222D', '#EF6000', '#ffffff']
            }
          }
        ],
        animationDuration: 1000,
        animationEasing: 'cubicOut',
        animationDurationUpdate: 1000
      }
      this.chartInstane.setOption(initOption)
      // 地图点击事件
      this.chartInstane.on('click', params => {
        this.echartProvinceData.map(item => {
          // 只有省，市可点击
          if (item.name === params.name && item.level !== 'district') {
            this.getChartData(item.code)
            // 路径面包屑的变更
            if (item.level === 'province') {
              this.breadcrumbPath.splice(1, 1, {
                name: item.name,
                code: item.code
              })
              this.breadcrumbPath.splice(2, 1, {})
            } else if (item.level === 'city') {
              this.breadcrumbPath.splice(2, 1, {
                name: item.name,
                code: item.code
              })
            }
          }
        })
      })
    },
    // 更新
    updataChart(mapType, seriesData) {
      // 渲染地图
      const dataOption = {
        series: [
          {
            name: mapType,
            type: 'map',
            mapType: mapType,
            zoom: 1,
            nameMap: {
              china: '中国'
            },
            label: {
              normal: {
                show: true
              },
              emphasis: {
                show: true
              }
            },
            roam: true,
            itemStyle: {
              normal: {
                borderColor: 'rgba(147, 235, 248, 1)',
                borderWidth: 1,
                areaColor: {
                  type: 'radial',
                  x: 0.5,
                  y: 0.5,
                  r: 0.8,
                  colorStops: [
                    {
                      offset: 0,
                      color: 'rgba(175,238,238, 0)' // 0% 处的颜色
                    },
                    {
                      offset: 1,
                      color: 'rgba(    47,79,79, .1)' // 100% 处的颜色
                    }
                  ],
                  globalCoord: false // 缺省为 false
                },
                shadowColor: 'rgba(128, 217, 248, 1)',
                shadowOffsetX: -2,
                shadowOffsetY: 2,
                shadowBlur: 10
              },
              emphasis: {
                areaColor: '#389BB7',
                borderWidth: 0
              }
            },
            data: seriesData
          }
        ]
      }
      this.chartInstane.setOption(dataOption)
    },
    // 获取地图数据
    getChartData(code) {
      this.currentCode = code
      this.$axios.get('https://geo.datav.aliyun.com/areas_v3/bound/' + code + '_full.json').then(data => {
        this.echartProvinceData = []
        for (var i = 0; i < data.data.features.length; i++) {
          this.echartProvinceData.push({
            name: data.data.features[i].properties.name,
            code: data.data.features[i].properties.adcode,
            level: data.data.features[i].properties.level,
            value: Math.round(Math.random() * 2000)
          })
        }
        this.$echarts.registerMap(code, data.data)
        this.updataChart(code, this.echartProvinceData)
      })
    },
    // 重置echarts高度
    resizeHeight() {
      this.echartsHeight = document.body.offsetHeight - 150 + 'px'
    }
  }
}
</script>

<style lang="scss" scoped>
#echart {
  width: 100%;
  height: 400px;
}
.path {
  display: flex;
  cursor: pointer;
  margin-top: 15px;
  margin-left: 60px;
}
.active {
  color: #ef6000;
}
</style>
