<template>
  <div>
    <div id="allmap" :style="{ height: echartsHeight }"></div>
    <div id="allmap2" :style="{ height: echartsHeight }"></div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      echartsHeight: 0
    }
  },
  mounted() {
    window.addEventListener('resize', this.resizeHeight, false)
    this.resizeHeight()

    const map = new window.BMap.Map('allmap') // 创建Map实例
    map.enableScrollWheelZoom(true) // 开启鼠标滚轮缩放
    map.centerAndZoom('武汉', 11) // 设置地图中心和缩放比例

    // 需要延迟才能获取到地图中心点
    setTimeout(() => {
      const cen = map.getCenter() // 获取地图中心点
      const point = new window.BMap.Point(cen.lng.toFixed(5), cen.lat.toFixed(5))
      console.log(cen)

      // 添加自定义图片，必须使用require或import引入图片
      const myIcon = new window.BMap.Icon(require('@img/map_site.png'), new window.BMap.Size(50, 50))
      const marker = new window.BMap.Marker(point, { icon: myIcon, enableDragging: true }) // 创建标注
      map.addOverlay(marker) // 将标注添加到地图中

      // 创建多边形
      const polygon = new window.BMap.Polygon(
        [new window.BMap.Point(114.2, 30.6), new window.BMap.Point(114.2, 30.7), new window.BMap.Point(114.4, 30.8)],
        {
          strokeColor: 'blue',
          strokeWeight: 2,
          strokeOpacity: 0.5
        }
      )
      map.addOverlay(polygon) // 将标注添加到地图中

      polygon.enableEditing()

      // 创建文本标注对象
      const opts = {
        position: new window.BMap.Point(114.2, 30.9) // 指定文本标注所在的地理位置
      }
      const label = new window.BMap.Label('60s后自动清除覆盖物', opts)
      // 自定义文本标注样式
      label.setStyle({
        color: 'blue',
        borderRadius: '5px',
        borderColor: '#ccc',
        fontSize: '16px',
        fontFamily: '微软雅黑'
      })
      map.addOverlay(label)

      setTimeout(() => {
        map.clearOverlays() // 清除覆盖物
      }, 60000)
    }, 500)

    // 获取武汉地铁数据-初始化地铁图，第二个参数code为'218'
    const subway = new window.BMapSub.Subway('allmap2', '218')
    subway.setZoom(0.2)
    const zoomControl = new window.BMapSub.ZoomControl({
      anchor: window.BMAPSUB_ANCHOR_BOTTOM_RIGHT,
      offset: new window.BMapSub.Size(10, 100)
    })
    subway.addControl(zoomControl)
  },
  destroyed() {
    window.removeEventListener('resize', this.resizeHeight, false)
  },
  methods: {
    resizeHeight() {
      this.echartsHeight = document.body.offsetHeight - 175 + 'px'
    }
  }
}
</script>

<style lang="scss" scoped>
#allmap {
  width: 100%;
}
</style>
