<template>
  <div id="app">
    <canvas id="myCanvas"> </canvas>
    <router-view />
  </div>
</template>
<script>
// import { animationStart } from '@/utils/canvasAnimation'
export default {
  created() {
    console.log('当前环境：' + process.env.NODE_ENV)
    console.log('当前环境api：' + process.env.VUE_APP_BaseUrl)
    console.log('当前环境api2：' + process.env.VUE_APP_BaseUrl2)
  },
  mounted() {
    // const canvas = document.getElementById('myCanvas')
    // const context = canvas.getContext('2d')
    // animationStart(canvas, context, 'snow')
  }
}
</script>

<style lang="scss" scope>
#app {
  height: 100%;
}
#myCanvas {
  z-index: 1;
  position: fixed;
  pointer-events: none;
}
</style>
